body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121111;
   
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(249, 2, 2, 0.926);
}

#quote-container {
    margin-bottom: 20px;
}

button, input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button:hover {
    background-color: #f0f0f0;
}

#search-results {
    margin-top: 20px;
}